<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../public/utils/head.html") %>
    <!-- Importar CSS específicos -->
    <link id="link-css" rel="stylesheet" href="/css/<%= session.currentUser.configuration.theme %>/style.css">
    <!-- Importar JS específicos -->
    <script src="/js/configuration.js"></script>

</head>

<body data-response="<%= JSON.stringify(response) %>" data-user="<%= JSON.stringify(session.currentUser) %>">
    <!-- Importar modal error -->
    <%- include("../public/utils/modal.html") %>
    <!-- Importar nav -->
    <%- include("fragments/nav", { generalInfo: generalInfo }) %>
    
    <div class="container">
        <div class="d-flex justify-content-center">
            <h1 class="title">CONFIGURACIÓN</h1>
        </div>
        
        <form>
            <div class="row justify-content-center mt-3 mb-3">

                <!--TAMAÑO DE LETRA-->
                <div class="col-6 text-center mt-3">
                    <label for="select-font-size" class="form-label" style="font-weight: bold";>Tamaño de letra</label>
                    <select id="select-font-size" name="font-size" class="form-control">
                        <option value="grande" <% if(configuration.fontSize == "grande"){ %>selected <% }%> >Grande</option>
                        <option value="normal" <% if(configuration.fontSize == "normal"){ %>selected <% }%>>Normal</option>
                    </select>
                </div>

                <!--TEMA-->
                <div class="col-6 text-center mt-3">
                    <label for="select-theme" class="form-label" style="font-weight: bold";>Tema</label>
                    <select id="select-theme" name="theme" class="form-control">
                        <option value="alegre" <%if(configuration.theme == "alegre"){ %>selected <%}%>>Alegre</option>
                        <option value="minimalista" <%if(configuration.theme == "minimalista"){ %>selected <%}%>>Minimalista</option>
                    </select>
                </div>

                <!--PREFERENCIA DE TIEMPO-->
                <div class="col-6 text-center mt-3">
                    <label for="select-time" class="form-label" style="font-weight: bold";>Preferencia de tiempo</label>
                    <select id="select-time" name="time" class="form-control">
                        <option value="corto" <% if(configuration.timePreference == "corto"){ %>selected <% }%> >Corto</option>
                        <option value="largo" <% if(configuration.timePreference == "largo"){ %>selected <% }%>>Largo</option>
                    </select>
                </div>

                <!--RECOMPENSA-->
                <div class="col-6 text-center mt-3">
                    <label for="select-reward" class="form-label" style="font-weight: bold";>Tipo de Recompensa</label>
                    <select id="select-reward" name="reward" class="form-control">
                        <option value="mensaje" <%if(configuration.rewardType == "mensaje"){ %>selected <%}%>>Mensaje</option>
                        <option value="medalla" <%if(configuration.rewardType == "medalla"){ %>selected <%}%>>Medalla</option>
                        <option value="imagen" <%if(configuration.rewardType == "imagen"){ %>selected <%}%>>Imágenes</option>
                        <option value="gif" <%if(configuration.rewardType == "gif"){ %>selected <%}%>>Gifs</option>
                    </select>
                </div>

                <!--DIV AUX PARA MANTENERLO A LA IZQUIERDA EL ANTERIOR-->
                <div class="col-6 text-center mt-3"></div>

                <!--BOTÓN DE CAMBIAR LA CONFIGURACIÓN-->
                <div class="col-12 text-center mt-5">
                    <button id="button-sb-updateConfig" type="submit" class="main-button">Cambiar configuración</button>
                </div>

                <!--DIV AUX PARA MANTENERLO A LA IZQUIERDA EL ANTERIOR-->
                <div class="col-6 text-center mt-3"></div>
            </div>
        </form>
        
        <!--SECCIÓN NOTIFICACIONES-->
        <div class="col-12 text-center mt-5">
            <p class="text-start subtitle">Notificaciones</p>
            <hr class="separator-line" />
        </div>

        <!--BOTÓN DE SUSCRIPCIÓN A NOTIFICACIONES-->
        <div class="col-6 mt-3">
            <label class="form-label me-3" style="font-weight: bold";>Activar notificaciones</label>
            <button id="button-subscribe" class="main-button">Activar</button>
        </div>

    </div> 
</body>

</html>