<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../public/utils/head.html") %>
    <!-- Importar CSS específicos -->
    <link rel="stylesheet" href="/css/listTasksStyle.css">

    <!-- Importar JS específicos -->

</head>

<body data-response="<%= JSON.stringify(response) %>">
    <!-- Importar modal error -->
    <%- include("../public/utils/modal.html") %>
     
    <!-- Importar nav -->
    <%- include("nav", { generalInfo: generalInfo }) %>
   
        <!-- text to voice button -->

        <h1>OLAAA</h1>
        <p><%= configuration.id_user %></p>
        <p><%=configuration.font_size %></p>
        <p><%=configuration.theme %></p>
        <p><%=configuration.time_preference %></p>
</body>

</html>