<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../public/utils/head.html") %>
    <!-- Importar CSS específicos -->
    <link rel="stylesheet" href="/css/<%= session.currentUser.configuration.theme %>/style.css">
    <!-- Importar JS específicos -->
    <script src="/js/createTask.js"></script>
</head>

<body data-response="<%= JSON.stringify(response) %>" data-task="<%= JSON.stringify(task) %>" data-user="<%= JSON.stringify(session.currentUser) %>">
    <!-- Importar modal error -->
    <%- include("../public/utils/modal.html") %>
    <!-- Importar nav -->
    <%- include("fragments/nav", { generalInfo: generalInfo }) %>

    <div class="container">
        <div class="d-flex justify-content-center">
            <h1 class="title">
                <% if (task.id) { %>
                    MOSTRAR TAREA
                <% } else { %>
                    CREAR TAREA
                <% } %>
            </h1>
        </div>

        <form id="formTask" action="/tareas/crearTareaForm" method="post">
            <div class="row justify-content-center mt-3 mb-3">
                <input type="hidden" id="input-id-task" name="id-task" value="<%= task.id %>">
                <input type="hidden" id="input-id-user" name="id" value="<%= session.currentUser.id %>">

                <!--TAREA COMPLETADA-->
                <% if (task.id) { %>
                    <div class="col-12 text-center mt-3">
                        <label for="input-completed">Completar tarea</label>
                        <input id="input-completed" name="completed" type="checkbox" <%= task.done ? 'checked' : '' %>>
                    </div>
                <% } %>

                <!--TITULO-->
                <div class="col-lg-6 col-md-6 col-sm-6 col-10 text-center mt-3">
                    <label for="input-title">Título<% if (!task.id) { %><span class="text-danger"> *</span><% } %></label>
                    <input type="text" id="input-title" name="title" class="form-control mt-1" value="<%= task.title %>">
                </div>

                <!--FECHA DE ENTREGA-->
                <div class="col-lg-4 col-md-6 col-sm-6 col-10 text-center mt-3">
                    <label for="input-date">Fecha de entrega<% if (!task.id) { %><span class="text-danger"> *</span><% } %></label>
                    <input type="date" id="input-date" name="date" class="form-control" value="<%= task.date %>">  
                </div>

                <!--HORA DE ENTREGA-->
                <div class="col-lg-4 col-md-6 col-sm-6 col-10 text-center mt-3">
                    <label for="input-hour">Hora:<% if (!task.id) { %><span class="text-danger"> *</span><% } %></label>
                    <input type="time" id="input-hour" name="time" class="form-control" value="<%= task.time %>">
                </div>

                <!--DURACIÓN ESTIMADA-->
                <div class="col-lg-4 col-md-6 col-sm-6 col-10 text-center mt-3">
                    <label for="input-duration">Duración estimada (minutos)<% if (!task.id) { %><span class="text-danger"> *</span><% } %></label>
                    <input id="input-duration" name="duration" type="number" class="form-control" value="<% if (!task.id) { %>5<% } else { %><%= task.duration %><% } %>" min="1" >
                </div>
                

                <!--CATEGORIA-->
                <div class="col-lg-4 col-md-6 col-sm-6 col-10 text-center mt-3">
                    <label for="input-category">Categoría<% if (!task.id) { %><span class="text-danger"> *</span><% } %></label>
                    <select id="input-category" name="category" class="form-control">
                        <option value="">...</option>
                        <% data.categories.forEach( c=> { %>
                            <option value="<%= c.name %>"><% if (session.currentUser.configuration.theme === "alegre") { %> <%- c.category_icon %> <% } %> <%= c.name %></option>
                        <% }); %>
                    </select>
                </div>
    
                <!--ASIGNATURA-->
                <div class="col-lg-4 col-md-6 col-sm-6 col-10 text-center mt-3">
                    <label for="input-subject">Asignatura</label>
                    <span id="subject-asterisk" class="text-danger d-none">*</span>
                    <select id="input-subject" name="subject" class="form-control" disabled>
                        <option value="">...</option>
                        <% data.subjects.forEach( s=> { %>
                            <option value="<%= s.id %>"><% if (session.currentUser.configuration.theme === "alegre") { %> <%- s.subject_icon %> <% } %> <%= s.name %></option>
                        <% }); %>
                    </select>
                </div>

                <!--RECORDATORIOS-->
                <div class="col-lg-4 col-md-6 col-sm-6 col-10 text-center mt-3">
                    <label for="input-reminder">Recordatorios<% if (!task.id) { %><span class="text-danger"> *</span><% } %></label>
                    <select id="input-reminder" name="reminders" class="form-control">
                        <option value="10 minutos antes">10 minutos antes</option>
                        <option value="1 hora antes">1 hora antes</option>
                        <option value="1 día antes">1 día antes</option>
                        <option value="Desde 2 días antes">Desde 2 días antes</option>
                        <option value="Desde 1 semana antes">Desde 1 semana antes</option>
                        <option value="No recordarmelo">No recordarmelo</option>
                    </select>
                </div>

                <!--DESCRIPCIÓN-->
                <div class="col-sm-12 col-10 text-center mt-3">
                    <label for="input-description">Descripción</label>
                    <textarea id="input-description" name="description" rows="4" class="form-control"><%= task.description %></textarea>
                </div>

                <!--BOTÓN CREAR TAREA-->
                <% if (task.id) { %>
                    <div class="col-6 text-center mt-5">
                        <button type="button" onclick="window.location.href='/tareas/borrarTarea/<%= task.id %>'" class="dangerous-button">Borrar Tarea</button>
                    </div>
                <% } else { %>                    
                    <div class="col-6 text-center mt-5">
                        <button type="submit" id="input-sb-createTask" class="main-button">Crear Tarea</button>
                    </div>
                <% } %>
            </div>
        </form>
    </div>
</body>

</html>