<!DOCTYPE html>
<html lang="es">
    
<body>
    <nav class="d-flex align-items-center justify-content-between main-background">
        <!-- Menú hamburguesa -->
        <button id="button-nav-hamburger" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" aria-expanded="false" title="Desplegable del menú">
            <img id="img-nav-burger" src="/images/<%= session.currentUser.configuration.theme %>/menu.png" alt="Menú" width="50">
        </button>
        <div id="offcanvasExample" tabindex="-1" aria-labelledby="offcanvasExampleLabel" class="offcanvas offcanvas-start">
            <div class="offcanvas-header main-background">
              <button type="button" data-bs-dismiss="offcanvas" aria-label="Close" class="btn-close"></button>
            </div>
            <div class="offcanvas-body main-background">
                <div id="functions" class="m-3">
                    <!--NOTIFICACIONES-->
                    <a href="/usuario/notificaciones" class="second-text position-relative">
                        <div class="menu-element">
                            <div>
                                <img id="img-nav-notifications" src="/images/<%= session.currentUser.configuration.theme %>/notifications.png" alt="Notificaciones" width="30"/>
                            </div>
                            <div>
                                Notificaciones
                                <% if (generalInfo.notificationsUnread > 0 ) { %>
                                    <span id="span-num-notifications" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-ta-blue" title="Correos no leídos">
                                        <%= generalInfo.notificationsUnread %>
                                    </span>
                                <% } %>
                            </div>
                        </div>
                    </a>

                    <!--CONFIGURACIÓN-->
                    <a href="/usuario/configuracion" class="second-text">
                        <div class="menu-element">
                            <div>
                                <img id="img-nav-settings" src="/images/<%= session.currentUser.configuration.theme %>/settings.png" alt="Configuración" width="30"/>
                            </div>
                            <div>
                                Configuración
                            </div>
                        </div>
                    </a>
                    
                    <!--TEMPORAL: CREAR TAREA-->
                    <a href="/tareas/crearTarea" class="second-text">
                        <div class="menu-element">
                            <div>
                                <img src="" alt="" width=""/>
                            </div>
                            <div>
                                Crear Tarea
                            </div>
                        </div>
                    </a>
                </div>

                <div>
                    <form id="form-logout" method="POST" action="/logout">
                        <a id="a-logout"><button class="button dangerous-button"><img id="img-nav-logout" src="/images/<%= session.currentUser.configuration.theme %>/logout.png" alt="Cerrar Sesión" width="30" class="ms-2 me-2"/> <span>Cerrar sesión</span></button></a>
                    </form>
                </div>
            </div>
        </div>
        <!-- Inicio -->
        <a id="a-nav" href="/" class="d-flex align-items-center" title="Volver a inicio">
            <img src="/images/logos/logo-no-background-no-text.png" alt="Logo TareApp" width="100">
        </a>
        <!-- Botón de perfil normal -->
        <a href="/usuario/perfil" title="Ir al perfil">
            <img id="img-nav-profile" src="/images/<%= session.currentUser.configuration.theme %>/default-user.png" alt="Foto de perfil" width="50">
        </a>
    </nav>
</body>

</html>