<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../public/utils/head.html") %>
    <!-- Importar CSS específicos -->
    <link rel="stylesheet" href="/css/alegre/style.css">

    <!-- Importar JS específicos -->
    <script src="/js/notifications.js"></script>

</head>

<body data-response="<%= JSON.stringify(response) %>">
    <!-- Importar modal error -->
    <%- include("../public/utils/modal.html") %>
     
    <!-- Importar nav -->
    <%- include("nav", { generalInfo: generalInfo }) %>
    <div class="row">
        <div class="centrado">
            <h1 class="titulo">Notificaciones</h1>
        </div>
        <div class="contenedorNotificaciones">
            <% reminders.forEach( r=> { %>
                <a href="/tareas/tarea/<%= r.idActivity %>">
                    <div class="notificacionCard">
                        <div class="centrado">
                            <img src="/images/default/profile.png" height="50px">
                        </div>
                        <div>
                            <label class="labelText"> <%= r.message %></label>
                        </div>
                    </div>
                </a>
            <% }); %>
        </div>

    </div>
        
    <!-- text to voice button -->
</body>

</html>