<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../public/utils/head.html") %>
    <!-- Importar CSS específicos -->
    <link rel="stylesheet" href="/css/<%= session.currentUser.configuration.theme %>/style.css">
    <!-- Importar JS específicos -->
    <script src="/js/notifications.js"></script>
</head>

<body data-response="<%= JSON.stringify(response) %>" data-user="<%= JSON.stringify(session.currentUser) %>">
    <!-- Importar modal error -->
    <%- include("../public/utils/modal.html") %>
    <!-- Importar nav -->
    <%- include("fragments/nav", { generalInfo: generalInfo }) %>
    
    <div class="container">
        <div class="d-flex justify-content-center">
            <h1 class="title">NOTIFICACIONES</h1>
        </div>

        <div class="justify-content-center">
            <% let currentDate = new Date(); %>
            <!--SECCIÓN HOY-->
            <div id="div-today-notifications" class="col-12 text-center mt-3">
                <p class="text-start subtitle">Hoy</p>
                <hr class="separator-line" />
            </div>
            <% reminders.forEach( r=> { %>
                <% if(r.sent_date.getDate() === currentDate.getDate()) { %>
                    <%- include("fragments/cardNotification", { r: r }) %>
                <% } %>
            <% }); %>
            <!--SECCIÓN ANTERIORES-->
            <div id="div-past-notifications" class="col-12 text-center mt-3">
                <p class="text-start subtitle">Anteriores</p>
                <hr class="separator-line" />
            </div>
            <% reminders.forEach( r=> { %>
                <% if(r.sent_date.getDate() !== currentDate.getDate()) { %>
                    <%- include("fragments/cardNotification", { r: r }) %>
                <% } %>
            <% }); %>
        </div>
    </div>
    <!-- text to voice button -->
</body>

</html>