<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../public/utils/head.html") %>
    <!-- Importar CSS específicos -->
    <link rel="stylesheet" href="/css/<%= session.currentUser.configuration.theme %>/style.css">

    <!-- Importar JS específicos -->
    <script src="/js/notifications.js"></script>

</head>

<body data-response="<%= JSON.stringify(response) %>">
    <!-- Importar modal error -->
    <%- include("../public/utils/modal.html") %>
     
    <!-- Importar nav -->
    <%- include("nav", { generalInfo: generalInfo }) %>
    <div class="row">
        <div class="d-flex justify-content-center">
            <h1 class="title">NOTIFICACIONES</h1>
        </div>

        <div class="contenedorNotificaciones">
            <% reminders.forEach( r=> { %>
                <a href="/tareas/tarea/<%= r.idActivity %>">
                    <div class="card-task">
                        <div class="d-flex justify-content-center">
                            <img src="/images/<%= session.currentUser.configuration.theme %>/default-user.png" height="50px">
                        </div>
                        <div>
                            <span><%= r.message %></span>
                        </div>
                    </div>
                </a>
            <% }); %>
        </div>

    </div>
        
    <!-- text to voice button -->
</body>

</html>