<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../public/utils/head.html") %>
    <!-- Importar CSS específicos -->
    <link rel="stylesheet" href="/css/listNotificationsStyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


    <!-- Importar JS específicos -->
    <script src="/js/notifications.js"></script>

</head>

<body data-response="<%= JSON.stringify(response) %>">
    <!-- Importar modal error -->
    <%- include("../public/utils/modal.html") %>
     
    <!-- Importar nav -->
    <%- include("nav", { generalInfo: generalInfo }) %>
    <div class="row">
        <div class="centrado">
            <h1 class="titulo">Notificaciones</h1>
        </div>
        <div class="contenedorNotificaciones">
            <% reminders.forEach( r=> { %>
                <a href="#">
                    <div class="notificacionCard">
                        <div class="centrado">
                            <img src="/images/default/profile.png" height="50px">
                        </div>
                        <div>
                            <label class="labelText"> <%= r.message %></label>
                        </div>
                    </div>
                </a>
            <% }); %>
        </div>

    </div>
        
        <!-- text to voice button -->
</body>

</html>