<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../public/utils/head.html") %>
    <!-- Importar CSS específicos -->
    <link rel="stylesheet" href="css/perfilStyle.css">

    <!-- Importar JS específicos -->

</head>

<body>
    <%- include("nav") %>

    <div class="container">
        <div class="row justify-content-center mt-5 mb-3">
            <div class="col-6 text-center mt-5">
                <img src="../images/default/profile.png" alt="imagen perfil" width="100em" height="100em">
            </div>

            <div class="col-6 text-center mt-5">
                <label for="nombreUsuario" class="form-label" style="font-weight: bold";>Nombre completo</label>
                <input id="input-user" name="nombreUsuario" type="text" class="form-control" value="<%= user.name %>"
                    disabled>
            </div>
            
            <div class="col-4 text-center mt-5">
                <label for="usuario" class="form-label" style="font-weight: bold";>Usuario</label>
                <input id="input-user" name="usuario" type="text" class="form-control" value="<%= user.username %>"
                    disabled>
            </div>
            
            <div class="col-4 text-center mt-5">
                <label for="rol" class="form-label" style="font-weight: bold";>Rol</label>
                <input id="input-user" name="rol" type="text" class="form-control" value="<%= user.rol %>" disabled>
            </div>
            
            <div class="col-4 text-center mt-5">
                <label for="curso" class="form-label" style="font-weight: bold";>Curso</label>
                <input id="input-user" name="curso" type="text" class="form-control" value="<%= user.curso %>" disabled>
            </div>            

            <div class="col-12 text-center mt-5">
                <p class="text-start" style="font-weight: bold; color:#976E07">Recompensas</p>
                <hr class="barraSeparador" />
                <div class="row justify-content-center">
                    <% for (let i = 0; i < recompensas.length; i++) { %> <!-- Iterar sobre todas las recompensas -->
                        <% if (i % 2 === 0) { %> <!-- Si el índice es par, abrir una nueva fila -->
                            <div class="row justify-content-center mt-3">
                        <% } %>
                        <div class="col-6 mt-3"> <!-- Dividir la fila en dos columnas -->
                            <div class="recompensaTarjeta">
                                <label for="curso" class="form-label tituloRecompensa"><%= recompensas[i].titulo %></label>
                                <img src="../images/recompensas/<%= recompensas[i].icono %>" alt="Icono de la recompensa">
                                <% if (recompensas[i].mensaje) { %>
                                    <div class="mensajeRecompensa">
                                        <p><%= recompensas[i].mensaje %></p>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                        <% if (i % 2 !== 0 || i === recompensas.length - 1) { %> <!-- Si el índice es impar o es la última recompensa, cerrar la fila -->
                            </div>
                        <% } %>
                    <% } %> 
                </div>
            </div>

            <div class="col-12 text-center mt-5">
                <button id="botonRanking" class="botonRanking">Ver ranking</button>
            </div>
        </div>
    </div>
</body>

</html>
