<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../public/utils/head.html") %>
    <!-- Importar CSS específicos -->
    <link rel="stylesheet" href="/css/<%= session.currentUser.configuration.theme %>/style.css">

</head>

<body>
    <!-- Importar modal error -->
    <%- include("../public/utils/modal.html") %>
    <!-- Importar nav -->
    <%- include("nav") %>

    <div class="container">
        <div class="row justify-content-center mt-5 mb-3">
            <!--FOTO-->
            <div class="col-3 text-center mt-5">
                <img src="../images/<%= session.currentUser.configuration.theme %>/default-user.png" alt="imagen perfil" width="100em" height="100em">
            </div>

            <!--NOMBRE-->
            <div class="col-3 text-center mt-5">
                <label for="nameUser" class="form-label" style="font-weight: bold";>Nombre completo</label>
                <input id="input-user" name="nameUser" type="text" class="form-control" value="<%= user.name %>"
                    disabled>
            </div>
            
            <!--USUARIO-->
            <div class="col-3 text-center mt-5">
                <label for="user" class="form-label" style="font-weight: bold";>Usuario</label>
                <input id="input-user" name="user" type="text" class="form-control" value="<%= user.username %>"
                    disabled>
            </div>
            
            <!--ROL-->
            <div class="col-3 text-center mt-5">
                <label for="rol" class="form-label" style="font-weight: bold";>Rol</label>
                <input id="input-user" name="rol" type="text" class="form-control" value="<%= user.rol %>" disabled>
            </div>           

            <!--SECCIÓN RECOMPENSAS-->
            <div class="col-12 text-center mt-5">
                <p class="text-start subtitle">Recompensas</p>
                <hr class="separator-line" />
            </div>

            <!--RECOMPENSAS-->
            <% let j = 0; %>
            <% for (let i = 0; i < allRewards.length; i++) { %>
                <div class="col-3 text-center mt-3">
                    <div class="card card-recompensa">
                        <div class="card-header card-header-recompensa">
                            <img src="/images/rewards/<%= allRewards[i].icon %>.png" alt="Icono de la recompensa <%= allRewards[i].title %>" width="100">
                        </div>

                        <div class="card-body card-body-recompensa">
                            <h5 class="card-title mt-2"><%= allRewards[i].title %></h5>
                            <% if (allRewards[i].message) { %>
                                <p class="card-text mt-2"><%= allRewards[i].message %></p>
                            <% } %>
                        </div>

                        <div class="card-footer">
                            <% if (userRewards.length === 0 || j === userRewards.length || allRewards[i].id !== userRewards[j].id) { %>
                                <p class="card-text">¡Pronto obtendrás esta recompensa!</p>
                            <% } else { %>
                                <p class="card-text">Obtenidas: <%= userRewards[i].count %></p>
                                <% j++; %>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</body>

</html>
