<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../public/utils/head.html") %>

    <!-- Importar JS específicos -->

</head>

<body>
    <!-- Importar modal error -->
    
    <!-- Importar nav -->
    <%- include("nav") %>

    <div class="container">
        <div class="row justify-content-center mt-5 mb-3">
            <div class="col-6 text-center mt-5">
                <img src="../images/alegre/default-user.png" alt="imagen perfil" width="100em" height="100em">
            </div>

            <div class="col-6 text-center mt-5">
                <label for="nameUser" class="form-label" style="font-weight: bold";>Nombre completo</label>
                <input id="input-user" name="nameUser" type="text" class="form-control" value="<%= user.name %>"
                    disabled>
            </div>
            
            <div class="col-4 text-center mt-5">
                <label for="user" class="form-label" style="font-weight: bold";>Usuario</label>
                <input id="input-user" name="user" type="text" class="form-control" value="<%= user.username %>"
                    disabled>
            </div>
            
            <div class="col-4 text-center mt-5">
                <label for="rol" class="form-label" style="font-weight: bold";>Rol</label>
                <input id="input-user" name="rol" type="text" class="form-control" value="<%= user.rol %>" disabled>
            </div>
            
            <div class="col-4 text-center mt-5">
                <label for="grade" class="form-label" style="font-weight: bold";>Curso</label>
                <input id="input-user" name="grade" type="text" class="form-control" value="<%= user.grade %>" disabled>
            </div>            

            <div class="col-12 text-center mt-5">
                <p class="text-start" style="font-weight: bold; color:#976E07">Recompensas</p>
                <hr class="separator-line" />
                <div class="row justify-content-center">
                    <% for (let i = 0; i < rewards.length; i++) { %> <!-- Iterar sobre todas las recompensas -->
                        <% if (i % 2 === 0) { %> <!-- Si el índice es par, abrir una nueva fila -->
                            <div class="row justify-content-center mt-3">
                        <% } %>
                        <div class="col-6 mt-3"> <!-- Dividir la fila en dos columnas -->
                            <div class="recompensaTarjeta">
                                <label for="grade" class="form-label tituloRecompensa"><%= rewards[i].title %></label>
                                <img src="/images/rewards/<%= rewards[i].icon %>.png" alt="Icono de la recompensa">
                                <% if (rewards[i].message) { %>
                                    <div class="mensajeRecompensa">
                                        <p><%= rewards[i].message %></p>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                        <% if (i % 2 !== 0 || i === rewards.length - 1) { %> <!-- Si el índice es impar o es la última recompensa, cerrar la fila -->
                            </div>
                        <% } %>
                    <% } %> 
                </div>
            </div>

            <div class="col-12 text-center mt-5">
                <button id="rankingButton" class="main-button">Ver ranking</button>
            </div>
        </div>
    </div>
</body>

</html>
