<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../public/utils/head.html") %>
    <!-- Importar CSS específicos -->
    <link rel="stylesheet" href="/css/<%= session.currentUser.configuration.theme %>/style.css">
    <!-- Importar JS específicos -->
    <script src="/js/studysession.js"></script>
</head>

<body data-response="<%= JSON.stringify(response) %>" data-studySessions="<%= JSON.stringify(studySessions) %>">
    <!-- Importar modal error -->
    <%- include("../public/utils/modal.html") %>
    <!-- Importar nav -->
    <%- include("fragments/nav") %>

    <div class="container">
        <div class="d-flex justify-content-center">
            <h1 class="title">
                SESIÓN DE ESTUDIO
            </h1>
        </div>

        <div class="d-flex">
            <!--SELECCIÓN/CREACIÓN DE SESIÓN DE ESTUDIO-->
            <div class="col-5">
                <form id="form-studySession">
                    <div class="row justify-content-center mt-3 mb-3">
                        <!--NOMBRE-->
                        <div class="text-center mt-3 d-flex flex-column justify-content-end align-items-center">
                            <label for="input-name">Sesión de estudio</label>
                            <select id="input-name" name="name" class="form-control">
                                <option value="Nueva">Nueva</option>
                                <% studySessions.forEach( (s, i) => { %>
                                    <option value="<%= i %>"><%= s.name %></option>
                                <% }); %>
                            </select>
                        </div>
    
                        <!--TIEMPO DE ESTUDIO-->
                        <div class="col-4 text-center mt-3 d-flex flex-column justify-content-end align-items-center">
                            <label for="input-study-slot">Duración periodo de estudio (minutos) *</label>
                            <input type="number" id="input-study-slot" name="study-slot" min="5" max="90" step="5" class="form-control">
                        </div>
    
                        <!--TIEMPO DE DESCANSO-->
                        <div class="col-4 text-center mt-3 d-flex flex-column justify-content-end align-items-center">
                            <label for="input-brake-slot">Duración periodo de descanso (minutos) *</label>
                            <input type="number" id="input-brake-slot" name="brake-slot" min="5" max="90" step="5" class="form-control">
                        </div>
    
                        <!--NÚMERO DE PERIODOS-->
                        <div class="col-4 text-center mt-3 d-flex flex-column justify-content-end align-items-center">
                            <label for="input-number-slots">Número de periodos *</label>
                            <input type="number" id="input-number-slots" name="number-slots" min="1" max="10" step="1" class="form-control">
                        </div>
    
                        <!--TIEMPO DE DESCANSO LARGO-->
                        <div class="col-4 text-center mt-3 d-flex flex-column justify-content-end align-items-center">
                            <label for="input-long-brake-slot">Duración periodo descanso largo (minutos)</label>
                            <input type="number" id="input-long-brake-slot" name="long-brake-slot" min="0" max="90" step="5" class="form-control">
                        </div>
    
                        <!--PERIOCIDAD PERIODOS DE DESCANSO LARGO-->
                        <div class="col-4 text-center mt-3 d-flex flex-column justify-content-end align-items-center">
                            <label for="input-number-long-brake-slots">Cada cuántos periodos se realiza uno largo</label>
                            <input type="number" id="input-number-long-brake-slots" name="number-long-brake-slots" min="0" max="10" step="1" class="form-control">
                        </div>
                    </div>
    
                    <div class="d-flex justify-content-center mt-3 mb-3">
                        <div class="text-center me-3">
                            <button type="submit" id="input-sb-selectStudySession" class="main-button">Iniciar</button>
                        </div>
    
                        <div class="text-center me-3">
                            <button type="" id="input-sb-createStudySession" class="main-button">Iniciar y guardar</button>
                        </div>
                    </div>
                </form>    
            </div>

            <!--TEMPORIZADOR-->
            <div class="col-7 d-flex flex-column align-items-center">
                <div class="d-flex justify-content-center div-timer">
                    <span id="div-minsTimer">05</span>:<span id="div-secsTimer">00</span>
                </div>
    
                <div class="d-flex justify-content-center">
                    <div class="me-1">
                        <button type="" id="input-startTimer" onclick="startTimer();" class="view-non-selected-button">Iniciar</button>
                    </div>
    
                    <div class="me-1">
                        <button type="" id="input-stopTimer" onclick="stopTimer();" class="view-selected-button" disabled>Pausar</button>
                    </div>
    
                    <div class="me-1">
                        <button type="" id="input-resumeTimer" onclick="startTimer();" class="view-non-selected-button" disabled>Continuar</button>
                    </div>
    
                    <div>
                        <button type="" id="input-resetTimer" onclick="resetTimer();" class="dangerous-button" disabled>Resetear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>