<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../public/utils/head.html") %>
    <!-- Importar CSS específicos -->
    <link rel="stylesheet" href="/css/<%= session.currentUser.configuration.theme %>/style.css">
    <!-- Importar JS específicos -->
    <script src="/js/studysession.js"></script>
</head>

<body data-response="<%= JSON.stringify(response) %>" data-sessions="<%= JSON.stringify(studySessions) %>">
    <!-- Importar modal error -->
    <%- include("../public/utils/modal.html") %>
    <!-- Importar nav -->
    <%- include("fragments/nav") %>

    <div class="container">
        <div>
            <div id="div-sb-backToForm" style="display: none;" class="float-start">
                <button type="" id="input-sb-backToForm" class="main-button">Atrás</button> 
            </div>
            <h1 class="title" style="text-align: center;">
                SESIÓN DE ESTUDIO
            </h1>
        </div>

        <div class="d-flex">
            <!--SELECCIÓN/CREACIÓN DE SESIÓN DE ESTUDIO-->
            <div id="div-form-studySession" class="mb-4 justify-content-center">
                <form id="form-studySession">
                    <div class="row justify-content-center mt-3 mb-3">
                        <!--SELECCIONAR SESIÓN DE ESTUDIO-->
                        <div class="col-3 text-center mt-3 d-flex flex-column justify-content-end align-items-center">
                            <label for="input-study-session">Sesión de estudio</label>
                            <select id="input-study-session" name="study-session" class="form-control">
                                <option value="Nueva">Nueva</option>
                                <% studySessions.forEach( (s, i) => { %>
                                    <option value="<%= i %>"><%= s.name %></option>
                                <% }); %>
                            </select>
                        </div>

                        <!--NOMBRE-->
                        <div class="col-3 text-center mt-3 d-flex flex-column justify-content-end align-items-center">
                            <label for="input-name" id="label-input-name">Nombre nueva sesión *</label>
                            <input type="text" id="input-name" name="name" class="form-control">
                        </div>
                    </div>
                    
                    <div class="row justify-content-center mt-3 mb-3">
                        <!--TIEMPO DE ESTUDIO-->
                        <div class="col-4 text-center mt-3 d-flex flex-column justify-content-end align-items-center">
                            <label for="input-study-slot">Duración periodo de estudio (minutos) *</label>
                            <input type="number" id="input-study-slot" name="study-slot" min="1" max="90" step="5" class="form-control">
                        </div>
    
                        <!--TIEMPO DE DESCANSO-->
                        <div class="col-4 text-center mt-3 d-flex flex-column justify-content-end align-items-center">
                            <label for="input-brake-slot">Duración periodo de descanso (minutos) *</label>
                            <input type="number" id="input-brake-slot" name="brake-slot" min="1" max="90" step="5" class="form-control">
                        </div>
    
                        <!--NÚMERO DE PERIODOS-->
                        <div class="col-4 text-center mt-3 d-flex flex-column justify-content-end align-items-center">
                            <label for="input-number-slots">Número de periodos *</label>
                            <input type="number" id="input-number-slots" name="number-slots" min="1" max="10" step="1" class="form-control">
                        </div>
                        
                        <!--TIEMPO DE DESCANSO LARGO-->
                        <div class="col-4 text-center mt-3 d-flex flex-column justify-content-end align-items-center">
                            <label for="input-long-brake-slot">Duración periodo descanso largo (minutos)</label>
                            <input type="number" id="input-long-brake-slot" name="long-brake-slot" min="0" max="90" step="5" class="form-control">
                        </div>
    
                        <!--PERIOCIDAD PERIODOS DE DESCANSO LARGO-->
                        <div class="col-4 text-center mt-3 d-flex flex-column justify-content-end align-items-center">
                            <label for="input-number-long-brake-slots">Cada cuántos periodos se realiza uno largo</label>
                            <input type="number" id="input-number-long-brake-slots" name="number-long-brake-slots" min="0" max="10" step="1" class="form-control">
                        </div>
                    </div>
    
                    <div class="d-flex justify-content-center mt-3 mb-3">
                        <div class="text-center me-3">
                            <button type="" id="input-sb-selectStudySession" class="main-button">Configurar temporizador</button>
                        </div>
    
                        <div class="text-center me-3">
                            <button type="submit" id="input-sb-createStudySession" class="main-button">Configurar y guardar</button>
                        </div>
                    </div>
                </form>    
            </div>

            <!--TEMPORIZADOR-->
            <div id="div-timer" class="col-7 me-4 mb-4 display-timer" style="display: none;">
                <!--SUBTITULO TAREAS PENDIENTES-->
                <div class="col-12 text-center mt-3">
                    <p class="text-start subtitle">Temporizador</p>
                    <hr class="separator-line" />
                </div>

                <div class="d-flex justify-content-start">
                    <span id="span-whichPeriod" class="mx-3"></span>
                    <span id="span-numSlot" class="mx-3"></span>
                </div>

                <div class="d-flex justify-content-center div-timer">
                    <span id="span-minsTimer">00</span>:<span id="span-secsTimer">00</span>
                </div>
    
                <div class="d-flex justify-content-center">
                    <div class="me-1">
                        <button type="" id="input-startTimer" onclick="startTimer();" class="view-non-selected-button">Iniciar</button>
                    </div>
    
                    <div class="me-1">
                        <button type="" id="input-stopTimer" onclick="stopTimer();" class="view-selected-button" disabled>Pausar</button>
                    </div>
    
                    <div class="me-1">
                        <button type="" id="input-resumeTimer" onclick="startTimer();" class="view-non-selected-button" disabled>Continuar</button>
                    </div>
    
                    <div>
                        <button type="" id="input-resetTimer" onclick="resetTimer();" class="dangerous-button" disabled>Resetear</button>
                    </div>
                </div>
            </div>

            <!--TAREAS-->
            <div id="div-tasks" style="display: none;" class="col-5 mb-4">
                <!--SUBTITULO TAREAS PENDIENTES-->
                <div class="col-12 text-center mt-3">
                    <p class="text-start subtitle">Tareas pendientes</p>
                    <hr class="separator-line" />
                </div>

                <!--LISTA DE TAREAS PENDIENTES-->
                <div class="accordion" id="accordionExample">
                    <% tasks.forEach( t=> { %>
                        <% if (!t.completed) { %>
                            <div class="mb-3">
                                <button class="accordion-button collapsed accordeon-task <% if(session.currentUser.configuration.theme === "alegre") { if (t.subject_color) { %> <%= t.subject_color %> <% } else { %> <%= t.category_color %> <% } } else { %> main-background <% } %>" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= t.id %>" aria-expanded="false" aria-controls="collapse<%= t.id %>">
                                    <% if(session.currentUser.configuration.theme === "alegre") { %>
                                        <span style="font-size: 2rem;"><% if(t.subject_icon){ %>   <%- t.subject_icon %>  <% }else{ %>  <%- t.category_icon %>  <% }%></span>
                                    <% } else { %>
                                        <img style="height: 30px; width: 30px;" src="/images/subjects-categories/<% if(t.subject_photo){ %><%= t.subject_photo %><% }else{ %><%= t.category_photo %><% }%>" alt="Icono categoría" width="15"/>
                                    <% } %>
                                    
                                    <span class="mx-5"><%= t.title %></span>
                                </button>

                                <div id="collapse<%= t.id %>" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body d-flex flex-column">
                                        <span><strong>Fecha y hora de entrega:</strong> <%= t.date %> <%= t.time %></span>
                                        <% if(t.category === "Escolar") { %>
                                            <span><strong>Asignatura:</strong> <%= t.name %></span>
                                        <% } else { %>
                                            <span><strong>Categoria:</strong> <%= t.category %></span>
                                        <% } %>
                                        <% if(t.description === "") { %>
                                            <span>No hay descripción para esta tarea</span>
                                        <% } else { %>
                                            <span><strong>Descripción:</strong> <%= t.description %></span>
                                        <% } %>
                                        <div>
                                            <label for="input-completed-<%= t.id %>"><strong>Completar tarea</strong></label>
                                            <input id="input-completed-<%= t.id %>" name="completed" type="checkbox" onchange=completeTask(<%= t.id %>) class="form-check-input mx-2" <%= t.done ? 'checked' : '' %>>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</body>

</html>