<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../public/utils/head.html") %>
    <!-- Importar CSS específicos -->
    <link rel="stylesheet" href="/css/listTasksStyle.css">

    <!-- Importar JS específicos -->

</head>

<body data-response="<%= JSON.stringify(response) %>">
    <!-- Importar modal error -->
    <%- include("../public/utils/modal.html") %>
     
    <!-- Importar nav -->
    <%- include("nav", { generalInfo: generalInfo }) %>
    <div class="row">
        <div class="centrado">
            <h1 class="titulo">TAREAS</h1>
        </div>
        <div class="contenedorTareas">
            <% tasks.forEach( t=> { %>
                <a href="/tareas/tarea/<%= t.id %>">
                    <div class="tareaCard">
                        <div class="centrado">
                            <img src="/images/default/profile.png" height="50px">
                        </div>
                        <div>
                            <label class="labelText"> <%= t.title %></label>
                        </div>
                    </div>
                </a>
            <% }); %>
        </div>

    </div>
        
        <!-- text to voice button -->
</body>

</html>