<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../public/utils/head.html") %>
    <!-- Importar CSS específicos -->
    <link rel="stylesheet" href="/css/<%= session.currentUser.configuration.theme %>/style.css">
    
    <!-- Importar JS específicos -->
    <script src="/js/home.js"></script>

</head>

<body data-response="<%= JSON.stringify(response) %>" data-day="<%= JSON.stringify(homeInfo.day) %>" data-week="<%= JSON.stringify(homeInfo.week) %>">
    <!-- Importar modal error -->
    <%- include("../public/utils/modal.html") %>
     
    <!-- Importar nav -->
    <%- include("nav", { generalInfo: generalInfo }) %>
    <div class="container">
        <div class="row mt-5">
            <div class="col-4 text-start">
                <a href="/tareas/crearTarea" class="btn main-button">
                    <span>Nueva tarea</span>
                </a>
            </div>
        
            <div class="col-8 text-end"> 
                <a href="/" class="btn second-button">
                    <span class="material-symbols-outlined">Lista</span>
                </a>
                <a id="a-home-week" href="/semanal" class="btn aux-button">
                    <span class="material-symbols-outlined">Semana</span>
                </a>
                
                <a id="a-home-daily" href="" class="btn aux-button">
                    <span class="material-symbols-outlined">Día</span>
                </a>
            </div>
        </div>

        <% if (homeInfo.day) { %>
            <div id="daily-calendar-container" class="container mt-4">
                <div class="row">
                    <div class="col-2 hour-column">
                        <% for(let hour = 0; hour < 24; hour++) { %>
                            <div class="hour"><%= hour %>:00</div>
                        <% } %>
                    </div>
                    <div class="col-10">
                        <div class="row justify-content-between">
                            <div class="col-3 text-start">
                                <a id="a-previous-day" href=""  class="btn second-button">
                                    <img src="/images/<%= session.currentUser.configuration.theme %>/left-arrow.png" alt="Anterior" width="30"/>
                                </a>
                            </div>
        
                            <div class="col-6 text-center"><%= homeInfo.day.dayName %> <%= homeInfo.day.dayNumber %></div>
        
                            <div class="col-3 text-end">
                                <a id="a-next-day" href=""  class="btn second-button">
                                    <img src="/images/<%= session.currentUser.configuration.theme %>/right-arrow.png" alt="Siguiente" width="30"/>
                                </a>
                            </div>
                        </div>
        
                       
                        <% for(let hour = 0; hour < 24; hour++) { %>
                            <div class="hour-tasks">
                                <% if (tasks[hour] && tasks[hour].length > 0) { %> 
                                    <% tasks[hour].forEach(task => { %>
                                        <div class="task" style="top: <%= (parseInt(task.time.split(':')[0]) * 45) + (parseInt(task.time.split(':')[1]) / 60) %>px">
                                            <!-- TODO Ver cómo quitar el style de arriba y ponerlo en el js o por css -->
                                            <div class="task-time-title">
                                                <div class="task-time"><%= task.time.slice(0, 5) %></div>
                                                <div class="task-title"><%= task.title %></div>
                                            </div>
                                        </div>          
                                    <% }) %>
                                <% } %>
                            </div>
                        <% } %>                
                    </div>
                </div>
            </div>
        <% } else if (homeInfo.week) { %>
            <div class="container-fluid mt-4 calendar" id="weekly-calendar-container">
                <div class="row">
                    <!-- Columna de horas a la izquierda -->
                    <div class="col-auto hour-column">
                        <% for(let hour = 0; hour < 24; hour++) { %>
                            <div class="hour"><%= hour %>:00</div>
                        <% } %>
                    </div>
                    
                    <div class="col">
                        <div class="row justify-content-between align-items-start">
                            <!-- Botón de semana anterior al inicio -->
                            <div class="col-auto">
                                <a id="a-previous-week" href=""  class="btn second-button">
                                    <img src="/images/<%= session.currentUser.configuration.theme %>/left-arrow.png" alt="Anterior" width="30"/>
                                </a>
                            </div>
                            
                            <!-- Días de la semana -->
                            <div class="col">
                                <div class="row" id="weekly-calendar">
                                    <% homeInfo.week.forEach(day => { %>
                                        <div class="col day-column">
                                            <div class="day-header"><%= day.dayName[0] %> <%= day.dayNumber %></div>
                                            <% day.tasks.sort((a, b) => a.time.localeCompare(b.time)).forEach(task => { %>
                                                <!-- Calcula el top basándose en la hora de la tarea, asumiendo cada hora tiene una altura de 50px -->
                                                <div class="task" style="top: <%= (parseInt(task.time.split(':')[0]) * 50) + (parseInt(task.time.split(':')[1]) / 60 * 50) %>px">
                                                    <div class="task-time-title">
                                                        <div class="task-time"><%= task.time.slice(0, 5) %></div>
                                                        <div class="task-title"><%= task.title %></div>
                                                    </div>
                                                </div>                                        
                                            <% }) %>
                                        </div>                                
                                    <% }) %>                                                                                     
                                </div>
                            </div>
        
                            <!-- Botón de semana siguiente al final -->
                            <div class="col-auto">
                                <a id="a-next-week" href=""  class="btn second-button">
                                    <img src="/images/<%= session.currentUser.configuration.theme %>/right-arrow.png" alt="Siguiente" width="30"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% } else { %>
            <div class="mt-4 justify-content-center">
                <% let primeraNoCompletada = false;
                let primeraCompletada = false; %>
                <% tasks.forEach( t=> { %>
                    <% if(!primeraNoCompletada && !t.completed) { %>
                        <!--SECCIÓN NO COMPLETADAS-->
                        <div class="col-12 text-center mt-3">
                            <p class="text-start subtitle">No completadas</p>
                            <hr class="separator-line" />
                        </div>
                    <% primeraNoCompletada = true; } %>
    
                    <% if(!primeraCompletada && t.completed) { %>
                        <!--SECCIÓN COMPLETADAS-->
                        <div class="col-12 text-center mt-3">
                            <p class="text-start subtitle">Completadas</p>
                            <hr class="separator-line" />
                        </div>
                    <% primeraCompletada = true; } %>
                    
                    
                    <div class="card-task <% if (t.subject_color) { %> <%= t.subject_color %> <% } else { %> <%= t.category_color %> <% } %>">
                        <a href="/tareas/tarea/<%= t.id %>">
                            <div class="d-grid align-items-center" style="grid-template-columns: 25% 75%;">
                                <div class="d-flex justify-content-center">
                                    <span style="font-size: 2rem;"><% if (t.subject_icon) { %> <%- t.subject_icon %> <% } else { %> <%- t.category_icon %> <% } %></span>
                                </div>
                                <div>
                                    <span><%= t.title %></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                <% }); %>
            </div>
        <% } %>
    </div>
        
        <!-- text to voice button -->
</body>

</html>