<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../public/utils/head.html") %>
    <!-- Importar CSS específicos -->
    <link rel="stylesheet" href="/css/<%= session.currentUser.configuration.theme %>/style.css">
</head>

<body data-response="<%= JSON.stringify(response) %>">
    <!-- Importar modal error -->
    <%- include("../public/utils/modal.html") %>
     
    <!-- Importar nav -->
    <%- include("nav", { generalInfo: generalInfo }) %>
    <div class="row">
        <div class="d-flex justify-content-center">
            <h1 class="title">TAREAS</h1>
        </div>
        
        <div>
            <% tasks.forEach( t=> { %>
                <a href="/tareas/tarea/<%= t.id %>">
                    <div class="card-task" data-color="<% if (t.subject_color) { %> <%= t.subject_color %> <% } else { %> <%= t.category_color %> <% } %>">
                        <div class="d-flex justify-content-center">
                            <img src="/images/<%= session.currentUser.configuration.theme %>/default-user.png" height="50">
                        </div>
                        <div>
                            <span><%= t.title %></span>
                        </div>
                    </div>
                </a>
            <% }); %>
        </div>

    </div>
        
        <!-- text to voice button -->
</body>

</html>