<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../public/utils/head.html") %>
    <!-- Importar CSS específicos -->

    <!-- Importar JS específicos -->

</head>

<body data-response="<%= JSON.stringify(response) %>">
    <!-- Importar modal error -->
    <%- include("../public/utils/modal.html") %>
    
    <!-- Importar nav -->
    <%- include("nav", { generalInfo: generalInfo }) %>

        <h1>MODIFICAR TAREA</h1>
        <div>
            <p> Id: <%= task.id %></p>
            <p> Activo: <%= task.enabled %></p>
            <p> Creador: <%= task.user.username %></p>
            <p> Título: <%= task.title %></p>
            <p> Fecha: <%= task.date %></p>
            <p> Hora: <%= task.time %></p>
            <p> Descripción: <%= task.description %></p>
            <p> Foto: <%= task.taskHasPic %></p>
            <p> Recordatorio: <%= task.reminder %></p>
            <p> Categoria: <%= task.category %></p>
            <p> idAsignatura: <%= task.idSubject %></p>
            <p> Terminado: <%= task.done %></p>
            <p> Duración: <%= task.duration %></p>
            <p> idEvento: <%= task.idEvent %></p>
        </div>

        <!-- text to voice button -->
</body>

</html>