<!--MODAL CONFIRMACIÓN-->
<div id="div-modal-confirm" class="modal fade" tabindex="-1" aria-labelledby="div-modal-confirm" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5"><%= title %></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <%= message %>
            </div>
            <div class="modal-footer">
                <button type="button" class="button main-button" data-bs-dismiss="modal"><%= cancelOption %></button>
                <button type="button" onclick="window.location.href='<%= url %>'" class="button dangerous-button"><%= submitOption %></button>
            </div>
        </div>
    </div>
</div>